.header-container {
  width: 100%;
  height: 70px;
  background: #ffffff;
  border-bottom: 1px solid #ddd;
  
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 20px;
  box-sizing: border-box;
}

.brand {
  font-size: 22px;
  font-weight: 700;
  color: #222;
  cursor:pointer;
  text-decoration: none;
}

.search-box {
  flex: 1;
  margin: 0 25px;
}

.search-box input {
  width: 95%;
  padding: 10px 15px;
  font-size: 16px;

  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
}

.header-actions {
  display: flex;
  gap: 12px;
}

.btn {
  padding: 10px 18px;
  background: #eeeeee;
  border: none;
  border-radius: 6px;

  cursor: pointer;
  font-size: 15px;
}

.btn:hover {
  background: #dcdcdc;
}

.cart-btn {
  background: #222;
  color: white;
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
}

.cart-btn:hover {
  background: #444;
}

.badge {
  background-color: #ff4757;
  color: white;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
  font-weight: bold;
  min-width: 15px;
  text-align: center;
}
